# Conexión a PostgreSQL
DB_HOST=#Colocar el nombre del servidor de su base de datos
DB_PORT=#Colocar el puerto el cual corre el servidor de base de datos
DB_USER=#Colocar su usuario de base de datos    
DB_PASSWORD=#Colocar su contraseña que contiene su usuario de base de datos
DB_NAME=#Colocar el nombre de base de datos

JWT_SECRET=#Colocar el token generado con jsonwebtoken
JWT_EXPIRATION=15m #Tiempo de expiracion del token de autenticacion

REFRESH_TTL_DAYS=7 #Cantidad de dias en que el refresh token sera valido

PORT=3000 # Puerto el cual estara corriendo la aplicacion